/* Brand Colors */
:root {
    --light: #f0f8fc;
    --dark: #0b1216;
    --complement: #dc936b;
    --base: #6bb4dc;
    --fiftyShade: #365a6e;
    --fiftyTint: #b5daee;
    --eightyTint: #e1f0f8;
    --bright: #6bbfdc;
    --monoDark: ##182932;
    --monoMid: #426e87;
    --darkBlue: #041014;
    --test: #052e3e;
    --another: #182932;
}