.blogpage {
    display: flex;
    justify-content: space-between;
}

.singleblog {
    width: 60%;
    margin: 15px;
    height: 700px;
}

.bloghead {
    margin: 20px;
    padding: 10px;
    height: fit-content;
}

.bloghead h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xxx-large;
}

.publish {
    font-weight: normal;
    font-style: italic;
}

.bloghead p {
    font-size: small;
}

.blogtext {
    padding: 10px;
}

.blogtext p {
    line-height: 175%;
    text-indent: 35px;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    margin: 35px 40px 0px 0px;
    border-radius: 5px;
}

.commenthead h2 {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.combox {
    border-radius: 5px;
    margin: 10px;
}

.commenttext {
    padding: 0px 15px 0px 15px;
}

.createdat {
    font-size: x-small;
    padding: 0px 15px 0px 15px;
}

.addcomment {
    align-self: flex-start;
    bottom: 0px;
    padding: 2px;
}
.addcomment div {
    text-align: center;
}
.addcomment button {
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    padding: 8px;
}

