.blogpage {
    display: flex;
    justify-content: space-between;
}

.singleblog {
    margin: 20px;
    border: 5px solid black;
    margin-top: 30px;
    width: 60%;
    height: 700px;
}

.bloghead {
    margin: 20px;
    padding: 10px;
    height: fit-content;
}

.bloghead h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xxx-large;
}

.bloghead h3 {
    font-weight: bold;
}

.publish {
    font-weight: normal;
    font-style: italic;
}

.bloghead p {
    font-size: small;
}

.blogtext {
    margin-top: 20px;
    padding: 20px;
}

.blogtext p {
    line-height: 175%;
    text-indent: 35px;
}

.comments {
    border: 5px solid black;
    width: 25%;
    margin: 20px 40px 0px 0px;
}

